@font-face {
  font-family: "Jalnan2";
  src: url("../fonts/Jalnan2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.background {
    background: linear-gradient(180deg, #CCE3F9 48%, #FFF 100%);
    width: 430px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    text-align: center;
    margin-top: 12vh; /* mt-10 */
    z-index: 6;
}

.title h1 {
    position: relative;
    color: #000;
    text-align: center;
    text-shadow:
        -3px -3px 0 #fff,
        3px -3px 0 #fff,
        -3px  3px 0 #fff,
        3px  3px 0 #fff,
        -3px  0   0 #fff,
        3px  0   0 #fff,
        0   -3px 0 #fff,
        0    3px 0 #fff,
        0 10px 4px rgba(0, 0, 0, 0.5);
    font-family: "Jalnan2", sans-serif;
    font-size: clamp(38px, 6vw, 42px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title h1 span {
    color: #1C68B4;
    font-family: "Jalnan2", sans-serif;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.message {
    background-color: #007AFF; 
    padding: 12px 20px;
    max-width: 350px;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    z-index: 5;
    margin-top: 10px;
}

/* 말풍선 꼬리 */
.message::after {
    content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-left-color: #007AFF;
	border-right: 0;
	border-bottom: 0;
	margin-top: -6px;
	margin-right: -10px;
    margin-top: -3px;
}

.messageText {
    color: #FFF;
    font-family: "Jalnan2";
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    width: 277px;
    height: 36px;
    flex-shrink: 0;
    letter-spacing: 1.2px;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10vh;
}

.schoolImg {
    position: absolute;
    top: -15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 420px;
    z-index: 1;
}

.noonsongImg {
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;      
    max-width: 258px;
    z-index: 3;
}

.noonsongshadow {
    position: absolute;
    top: 29vh;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 25px;
    flex-shrink: 0;
    background-color: #CECECE;
    z-index: 2;
    border-radius: 50%; /* 타원형 그림자 */
    opacity: 0.8; /* 반투명 */
}

.snowImg {
    position: absolute;
    top: -15vh;
    width: 100%;
    max-width: 420px;
    z-index: 4;
}

.startBtn {
    width: 80%;
    max-width: 303px;
    height: 81px;
    flex-shrink: 0; 
    border-radius: 20px;
    border: 2px solid #000;
    background: #E9E9EB;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 12vh;
    margin-top: 3vh;
    display: flex;             
    justify-content: center;   
    align-items: center;   
    z-index: 7;  
}

.startBtn:hover {
  transform: scale(1.05);
}

.startBtnText {
    color: #000;
    text-align: center;
    font-family: "Jalnan2", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 88% */
    letter-spacing: 1px;
    user-select: none; /* 텍스트 드래그 방지 */
}


@media (max-width: 480px) {
    .background {
        /* width: 100%;        */
        max-width: 100%;   
    }

}

@media (max-width: 395px) {
    .title {
        margin-top: 7vh; 
    }

    .schoolImg { 
        top: -25vh; 
    }

    .noonsongImg {
        top: 1vh;
        width: 55%; 
    }

    .noonsongshadow {
        top: 31vh; 
        width: 20%; 
    }

    .startBtn {
        margin-top: 5vh; 
        margin-bottom: 8vh; 
        height: 70px; 
    }
}

@media (max-width: 350px) {
    .schoolImg {
        top: -10vh; 
    }

    .noonsongImg {
        top: 8vh;
        width: 55%; 
    }

    .noonsongshadow {
        top: 31vh; 
        width: 20%; 
    }

}
