@font-face {
  font-family: "Jalnan2";
  src: url("../fonts/Jalnan2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body, html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.background {
    background: linear-gradient(180deg, #CCE3F9 48%, #FFF 100%);
    width: 430px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.resultTitle {
  position: relative;
  color: #000;
  text-align: center;
  text-shadow:
    -3px -3px 0 #fff,
     3px -3px 0 #fff,
    -3px  3px 0 #fff,
     3px  3px 0 #fff,
    -3px  0   0 #fff,
     3px  0   0 #fff,
     0   -3px 0 #fff,
     0    3px 0 #fff,
     0px  7px 7px rgba(0,0,0,0.25);
  font-family: "Jalnan2", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 6vh;
}

.resultTitle .accent {
  color: #243FB5;
  font-family: "Jalnan2", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.resultImage {
  position: relative;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  aspect-ratio: 40/53;
  top: 3vh;
}


.resultDesc {
  position: relative;
  width: 287px;
  min-height: 36px; 
  flex-shrink: 0;

  border-radius: 30px;
  border: 2px solid #000;
  background: #FFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  color: #000;
  text-align: center;
  font-family: "Jalnan2", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  display: flex;
  align-items: center;       
  justify-content: center; 

  white-space: pre-line;    
  padding: 8px 12px;         
  box-sizing: border-box;    
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.keywordBoard {
  position: relative;
  display: flex; 
  justify-content: center; 
  gap: 9px; 
  align-items: flex-start;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.keywordCol { 
  display: flex; 
  flex-direction: column; 
  gap: 10px; }


.keywordCard{
  width: 155px;
  border-radius: 4px;
  border: 3px solid #2B2C46;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-family: "Jalnan2", sans-serif;

  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  letter-spacing: 2px;
  text-transform: uppercase;

  text-shadow:
  -2px -2px 0 #000000,
   2px -2px 0 #000000,
  -2px  2px 0 #000000,
   2px  2px 0 #000000,
  -2px  0   0 #000000,
   2px  0   0 #000000,
   0   -2px 0 #000000,
   0    2px 0 #000000;

  text-align: center;
  word-break: keep-all; 
  white-space: pre-line;
}


.keywordStyle1 { height: 54px; background: #fff; }
.keywordStyle2 { height: 54px; background: #8EACED; }
.keywordStyle3 { height: 54px; background: #fff; }
.keywordStyle4 { height: 49px; background: #243FB5; color:#fff; }
.keywordStyle5 { height: 72px; background: #243FB5; color:#fff; }
.keywordStyle6 { height: 95px; background: #fff; }
.keywordStyle7 { height: 60px; background: #8EACED; }

.retryButton {
  margin-bottom: 6vh;

  width: 200px;
  height: 48px;

  background: #CCE3F9;           
  color: #fff;               
  font-family: "Jalnan2", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  text-shadow:
  -2px -2px 0 #000000,
   2px -2px 0 #000000,
  -2px  2px 0 #000000,
   2px  2px 0 #000000,
  -2px  0   0 #000000,
   2px  0   0 #000000,
   0   -2px 0 #000000,
   0    2px 0 #000000;

  border: solid black 3px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.retry-button:hover {
  background: #1d33a5;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
    .background {
        max-width: 100%;   
    }
}


